.contents
  .top_bar
    .top_bar__left
      %h3.top_bar__left--store_name YAMAMOTO Motors
      %p.top_bar__left--store_address 東京都渋谷区道玄坂２丁目２３−１２
      %p.top_bar__left--phone #{current_user.name} 様のページ
      %a.request{href: "#"} 作業依頼
      =link_to "ログアウト",destroy_user_session_path,method: :delete,class: "logout"
      

    .top_bar__right
      .user_cars
        - @cars.each do |car|
          .user_car
            .user_car--image
              %img{src: "#{car.image}"}
            .user_car--info
              %h3 #{car.name}
              %p 年式： #{car.model_year}
              %p 車検日：　#{car.inspection_date.strftime("%Y年%-m月%-d日")}
              .user_car--info--distance
                %p.user_car--info--distance- 総走行距離： #{car.distance}km
                %p.user_car--info--distance (#{car.updated_at.strftime("%Y年%-m月%-d日")}　現在)

  .main_contents
    .main_contents__left
      .events
        - @customer_events.each do |event|
          %a.event{href: "/events/#{event.id}/messages"}
            %h2 #{event.car.name}
            %p イベント名：　#{event.title}
            .event_date
              .date
                %p #{event.date.strftime("%Y年%-m月%-d日")}
              .rest
                %p あと#{ (event.date - Date.today).numerator}日
        


    .main_contents__right
      .messages
        - if @messages.present?
          -@messages.each do |message|
            -if message.talker_id == current_user.id
              - if message.image.present?
                .messages__self
                  %p.date #{message.created_at.strftime("%Y/%-m/%-d %R")}
                  .messages__self__wrapper
                    %p #{message.text}
                    = image_tag message.image.url
              - else
                .messages__self
                  %p.date #{message.created_at.strftime("%Y/%-m/%-d %R")}
                  .messages__self__wrapper
                    %p #{message.text}              
            - else
              - if message.image.present?
                .messages__opponent
                  .messages__opponent--info
                    %p.name #{message.sales.name}
                    %p.date #{message.created_at.strftime("%Y/%-m/%-d %R")}
                  .messages__opponent__wrapper
                    %p #{message.text}
                    = image_tag message.image.url            
              - else
                .messages__opponent
                  .messages__opponent--info
                    %p.name #{message.sales.name}
                    %p.date #{message.created_at.strftime("%Y/%-m/%-d %R")}
                  .messages__opponent__wrapper
                    %p #{message.text}
          
              
      .message_form
        -if @customer_events.present?
          = form_with model: [@event,@message] ,local: true,id: "new_message" do |f|
            .text_box
              = f.text_field :text ,placeholder: "メッセージを入力してください",class: "text_box--text"
              = f.label :image,class: "text_box__icon_area" do
                = f.file_field :image
                = icon('fas','image')
            = f.submit "SEND",class: "submit_btn"

.edit_page
  .edit_wrapper
    %h2.form_title 作業依頼フォーム

    = form_with model: @event_create,html: {class: "form_head"},local: true do |f|
      .car_field
        -@cars.each do |car|
          = f.label :car_id,{for: "event_car_id_#{car.id}"} do
            = f.radio_button :car_id,"#{car.id}",class: "radio_btn"
            .car_field--name
              %h1 #{car.name}
      .field
        = f.text_field :title, autofocus: true, autocomplete: "off",class: "form",placeholder: "作業内容"
      .field.inspection_date
        = f.label :date,class: "inspection_date--label" do
          = f.date_field  :date, autofocus: true, autocomplete: "off",class: "form form_inspection_date"
          .inspection_title
            %p 来店日
      .actions
        = f.submit "作業依頼",class: "form_btn"
    %a.close_icon{href: "#","dara-turbolinks": false}
      =icon('far','window-close')