.contents
  .top_bar
    .top_bar__left
      .sales_search
        %h1 #{current_user.name} 様のページ
        %h2 エンドユーザー検索フォーム
        %form
          %input.text{type: "text"}
          %input.search{type: "submit",value: "SEARCH"}
        .sales_btn
          =link_to "エンドユーザー新規登録","/admin",class: "new_customer"
          =link_to "ログアウト",destroy_user_session_path,method: :delete,class: "logout"
    .top_bar__right
      .sales_events
        - @sales_events.each do |event|
          %a.sales_event{href: "/events/#{event.id}/messages"}
            %h1.name #{event.customer.name}　様
            %h1.car #{event.car.name}
            %p.event_name #{event.title}
            %p.date #{event.date.strftime("%Y年%-m月%-d日")}
            %p.rest あと#{ (event.date - Date.today).numerator}日

        

  .main_contents
    .main_contents__left
      .sales_customer_events
        .sales_customer_events--title
          %h1 #{@event.customer.name} 様
          %h1 イベント一覧
        .sales_customer_events--button
          %a.user_edit{href: "#"}
            %p ユーザー編集
          %a.event_add{href: "#"}
            %p イベント追加
          %a.car_add{href: "#","dara-turbolinks": false }
            %p 保有車両追加
        - @events.each do |event|
          .sales_customer_event
            = image_tag event.car.image
            .event--info
              %p.name #{event.car.name}
              %p.event #{event.title}
              %p.date #{event.date.strftime{"%Y年%-m月%-d日"}}
              %p.rest あと#{ (event.date - Date.today).numerator}日
              .event_btn
                %a.event_edit{href: "#"}
                  %p 編集
                = link_to "削除",event_path(event),method: :delete,class: "event_delete"


    .main_contents__right
      .messages
        -@messages.each do |message|

          -if message.talker_id == current_user.id
            - if message.image.present?
              .messages__self
                %p.date #{message.created_at.strftime("%Y/%-m/%-d %R")}
                .messages__self__wrapper
                  %p #{message.text}
                  = image_tag message.image.url
            - else
              .messages__self
                %p.date #{message.created_at.strftime("%Y/%-m/%-d %R")}
                .messages__self__wrapper
                  %p #{message.text}     

          - else
            - if message.image.present?
              .messages__opponent
                .messages__opponent--info
                  %p.name #{message.customer.name}
                  %p.date #{message.created_at.strftime("%Y/%-m/%-d %R")}
                .messages__opponent__wrapper
                  %p #{message.text}
                  = image_tag message.image.url
            - else
              .messages__opponent
                .messages__opponent--info
                  %p.name #{message.customer.name} 様
                  %p.date #{message.created_at.strftime("%Y/%-m/%-d %R")}
                .messages__opponent__wrapper
                  %p #{message.text}

        
      .message_form
        = form_with model: [@event,@message] ,local: true do |f|
          .text_box
            = f.text_field :text ,placeholder: "メッセージを入力してください",class: "text_box--text",autocomplete: "off"
            = f.label :image,class: "text_box__icon_area" do
              = f.file_field :image
              = icon('fas','image')
          = f.submit "SEND",class: "submit_btn"
  
.edit_page
  .car_add_wrapper
    %h2.form_title #{@customer.name} 様 車両登録

    = form_with model: [@customer,@car],html: {class: "form_head"},local: true do |f|
      .field
        = f.text_field :name, autofocus: true, autocomplete: "off",class: "form",placeholder: "車名"
      .field
        = f.number_field :model_year, autofocus: true, autocomplete: "off",class: "form",placeholder: "年式(西暦)",min: "1980"
      .field.inspection_date
        = f.label :inspection_date,class: "inspection_date--label" do
          = f.date_field  :inspection_date, autofocus: true, autocomplete: "off",class: "form form_inspection_date"
          .inspection_title
            %p 車検日
      .field
        = f.number_field :distance, autofocus: true, autocomplete: "off",class: "form form_distance",placeholder: "距離(km)"


      .field
        = f.label :image do
          = f.file_field :image,class: "file_upload"
          .image_display
            - if @car.image.present?
              = image_tag(@car.image)
            - else
              =icon('fas','image')

      .actions
        = f.submit "車両登録",class: "form_btn"
    %a.close_icon{href: "#","dara-turbolinks": false}
      =icon('far','window-close')
